body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top, #111 0%, #000 70%);
    color: white;
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.main-title {
    font-size: 48px;
    color: #ffd700;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #ffcc00;
}

.subtitle {
    color: #ccc;
    margin-bottom: 40px;
}

.section-title {
    color: #ffcc00;
    margin: 40px 0 30px;
    font-size: 26px;
}

/* TECH GRID - 4 FIRST ROW, 3 SECOND ROW */
.tech-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-content: center;
}

/* NON TECH GRID */
.nontech-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 20px;
}

.card {
    background: #111;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 204, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(255, 204, 0, 0.6);
}

.card h3 {
    margin-bottom: 20px;
}

.card a {
    text-decoration: none;
    background: #ffd700;
    color: black;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.card a:hover {
    background: #ffb300;
}
